:root{
    --yel:rgb(255, 232, 31);
    --bl:rgb(23, 23, 23);
    --red:rgb(235, 33, 44);
    
}

h1,h2,h3,h4,.h1,.h2,.h3,.h4{
    font-family: "Orbitron", sans-serif;
}

.bg-yellow{
    background-color: var(--yel);

}
.bg-red{
    background-color: var(--red);

}
.bg-black{
    background-color: var(--bl);
}
.bg-white{
    background-color: var(--wh);
}
.color-black{
    color: var(--bl);
}
.color-white{
    color: var(--wh);
}
.color-yellow{
    color: var(--yel);
}

/* Navbar */
.navbar{
    height: 140px;
    transition: 0.5s;
}

.nav-link{
    color: var(--yel);
    font-weight: 700;
}
.nav-link:hover{
    color:white !important;
    text-shadow: 2px 2px 5px var(--red), -2px -2px 5px var(--red);
}

.logo{
    width: 50px;
}



/* FONT DA SISTEMARE */
.orbitron-<uniquifier> {
  
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
